<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="demo" data-collapse="accordion">
  <h2>Production</h2>
  <div>
    <div id="distribution-production" style="width: 600px; height: 400px; margin: 0 auto"></div>
  </div>
  <h2>Comptabilité</h2>
  <div>
    <p>You can use any container you like (in this case a div element)</p>
  </div>
  <h2>Finance</h2>
  <div>
    <p>You can use any container you like (in this case a div element)</p>
  </div>
  <h2>Gestion des ressources humaines</h2>
  <div>
    <p>You can use any container you like (in this case a div element)</p>
  </div>
  <h2>Marketing</h2>
  <div>
    <p>You can use any container you like (in this case a div element)</p>
  </div>
</div>



