// Place all the styles related to the intranet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.collapse-container {
  border-radius: 0px;
  background-color: $pale;
  padding: 5px;
}

.collapse-title {
  padding: 20px;
  background-color: $blanc;
  margin: 5px 0;
  border-bottom: 7px solid black;
}

.collapse-title-text {
  color: $pale;
  font-size: 2em;
}

.indicateur {
  color: $pale;
  text-align: center;
}

.container-indicateur {
  margin: 5px;
}